<title>My application</title>
  <h1>Hello, World!</h1>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="Array" rows="10" cols="30"></textarea>
        <textarea name="Number1" rows="10" cols="30"></textarea>
        <textarea name="Number2" rows="10" cols="30"></textarea>
        <textarea name="Number3" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
    